
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
   font-family: 'Inter', sans-serif;
}
.ad_side{
    

    width: 19%;
    background-color:rgb(63, 77, 103);
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    
}
.ad_logo{
    display: flex;
    justify-content: center;
}
 img{
    height: 10vh;
    margin-top: 4vh;
    



    
}
.main{
    background-color: #f4f7f6;
}

li>a{
    text-decoration: none;
    color: white;
    text-align: center;
    list-style-type: none;
    font-size: 1rem;
    opacity: 0.9;
    gap: 0.5vw;
    margin-bottom: 2vh;
    margin-right: 5.5vw;

    
}
li{

    display: flex;
    flex-direction: column;
    padding: 10px 0px;



}
ul{
    margin-top: 10vh;
    width: 100%;
}
li a{

    display: flex;
   margin-left: 2vw;
   


}
li a i {
   
    width: 30px; 
    
}
li:hover{
    background-color:#5B6B79;
}
li:active, li:focus-within {
    background-color: rgb(38, 53, 80);
    border: 2px solid rgb(38, 53, 80);
    border-bottom-right-radius: 60px;
    border-top-right-radius:60px;
    border-left: 4px solid #04A9F5;
}

.main{
    display: flex;
}
.content{
    width: 81%;
    margin-top: 30vh;
    
}

.cards{
    display: flex;
    width: 81%;
    height: fit-content;
    padding: 10vh;
     gap: 20px;
}
.card1{
    height: 20vh;
    width: 20vw;
    /* border: 1px solid black; */
     background-color: #85409D;
     border-radius: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    /* opacity: 0.8; */
     
    
}
.card1>i{
    padding: 16px;
   background-color: white;
   border-radius: 20%;
   color: #85409D;
   /* height: 20px;
   width: 20px; */

}
.detail{
    color: white;

}
.detail>span{
    text-transform: uppercase;
}
.detail .char{
    text-align: center;
}


/* view student.php */
.table{
    width: 81%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    margin-top: 20vh;
}



h2 {
    color: #1f2937;
    font-size: 24px;
    
    margin-bottom: 20px; 
    /* border-left: 5px solid #4f46e5; */
    padding-left: 15px;
    text-align: center;
}

table {
   background-color: #f0eeee;
    width: 70%;
    border-collapse: collapse;
    /* margin-top: 20vh;     */
    border: none;
    margin-left: auto;
    margin-right: auto;
}

thead th {
    background-color: #1f2937;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

tbody tr {
    border-bottom: 1px solid #edf2f7;
    transition: background 0.2s;

}

tbody tr:hover {
    background-color: #f9fafb;
}

tbody td {
    padding: 15px;
    color: #4b5563;
    font-size: 15px;
}

tbody tr:last-child {
    border-bottom: none;
}

.table a {
    text-decoration: none;
    background-color: #4f46e5;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block;
}

.table a:hover {
    background-color: #4338ca;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.3);
    transform: translateY(-1px);
}

/* student view */

.detail-box{
    width: 81%;
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: #e9e9e9;

}
.student-con{
    margin-top: 10vh;
    width: 60%;
    /* border: 1px solid black; */
    border-radius: 30px;
    padding: 30px;
    height: 100%;
     background: #fff;
     margin-bottom: 10vh;
    

    
    
}
.student-con>h1{
    text-transform: uppercase;
    text-align: center;
     

}

.boxx{
    width: 100%;
    margin-top: 5vh;
}   
.boxx>.field-group{
    width: 100%;
    display: flex;

}
.boxx>h3{
    margin-bottom: 2vh;
    border-left:5px solid #4f46e5;
    padding-left: 10px;
    text-transform: uppercase;
}
.field-group>.label{
    width: 60%;
    
}
.field-group>div{
    border-bottom: 2px solid rgb(165, 159, 159);
    
    margin: 3px 0px;
}

.field-group>.value{
    width: 40%;

}

.doc-group {
    padding: 15px 0; 
    display: flex;
    align-items: center; 
}

.doc-group img {
    border-radius: 12px;
    border: 3px solid #f3f4f6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.doc-group img:hover {
    transform: scale(1.1) rotate(2deg); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.doc-group > .value > a {
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    background: linear-gradient(135deg, #4f46e5 0%, #3b82f6 100%);
    border-radius: 8px;
    font-size: 0.85rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(79, 70, 229, 0.2);
}

.doc-group > .value > a:hover {
    background: linear-gradient(135deg, #4338ca 0%, #2563eb 100%);
    box-shadow: 0 6px 15px rgba(79, 70, 229, 0.3);
    transform: translateY(-2px);
}
.doc-group{
    width: 100%;

}
.doc-group>.label{
    width: 60%;
}

